on_git_branch latest && exit
if has nix; then
  frontend_node_version=$(cat .node-version)
  use nix -p "nodejs_${frontend_node_version%%.*}" nodePackages.volar nodePackages.typescript-language-server
fi
layout node
node scripts/check-node-version.mjs || return 1
